<%- include('../partials/header'); %>


<div class="container my-5">
    <p class="marginBotom" style="margin-bottom: 80px;"></p>    


        <h1>Saludos desde EJS AMIGOS!! a la página</h1>
        
        <h5><%= data.date %></h5>
        <h1><%= data.title %></h1>
        <p class="marginBotom"><%= data.content %></p>    
    
</div>

<%- include('../partials/footer'); %>
