<%- include('../partials/header'); %>

<h1>El resultado de la operación de sumar:  </h1>

<h2> <%=num1 %> +<%=num2 %> = <%= resultado %>  </h2>

<a href="/calculadora">Ir a Calculadora</a>
<a href="/">Ir a home</a>

<%- include('../partials/footer'); %>